<div class="footer">
    <ul class="social-media">
        <li>Done by Connie Leung</li>
        <li>Github: <a href="https://github.com/railsstudent" target="_blank">railsstudent</a></li>
        <li>X: <a href="https://x.com/connieleung404" target="_blank">@connieleung404</a></li>
    </ul>
</div>
