<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Angular tech book RAG powed by gemma 2 LLM." />
    <meta name="author" content="Connie Leung" />
    <title>{{{ title }}}</title>
    <link rel="stylesheet" href="css/layout.css" />
  </head>
  <body>
    <div class="container">
      <h1>Angular Technical Book RAG</h1>
      <div class="content">
        {{{ Body }}}
        sdfsdfdsfds
      </div>
      <div class="footer">
        <ul class="social-media">
          <li>Done by Connie Leung</li>
          <li>Github: <a href="https://github.com/railsstudent" target="_blank">railsstudent</a></li>
          <li>X: <a href="https://x.com/connieleung404" target="_blank">@connieleung404</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>