<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Angular tech book RAG powed by gemma 2 LLM." />
    <meta name="author" content="Connie Leung" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; script-src 'self' 'nonce-dGFpbHdpbmRjc3M='; script-src-elem 'self' 'nonce-dGFpbHdpbmRjc3M=';" />
    <title>{{{ title }}}</title>
    <!--
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/rag.css" />
    -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="/js/htmx.min.js" nonce="dGFpbHdpbmRjc3M="></script>
    <div class="container">
      {{> header }}
      {{{ body }}}
      {{> footer }}
    </div>
  </body>
</html>