<p>Index Page</p>

<form>
    <div>
        <label>
            <span>Question: </span>
            <input type="text"></input>
        </label>
    </div>
    <button type="submit">Send</button>
</form>