<div class="rag-container">
    <p class="chat-heading">Gemma 2 Chatbot</p>
    <div id="chat-list">
        <div class="header">
            <span>Role</span><span>Result</span>
        </div>
    </div>
    <form id="rag-form" hx-post="/rag" hx-target="#chat-list" hx-swap="beforeend swap:1s">
        <div>
            <label>
                <span>Question: </span>
                <input type="text" name="query"
                    placeholder="Ask Angular Tech Book RAG" 
                    aria-placeholder="Placeholder to ask question to RAG"></input>
            </label>
        </div>
        <button type="submit">
            <span>Send</span><img class="spinner htmx-indicator" src="/images/spinner.gif">
        </button>
    </form>
</div>