<div class="rag-container">
    <p class="chat-heading">Chat results</p>
    <div id="chat-results"></div>
    <form>
        <label>
            <span>Question: </span>
            <input type="text" placeholder="Ask Angular Tech Book RAG" aria-placeholder="Placeholder to ask question to RAG"></input>
        </label>
        <button type="submit">Send</button>
    </form>
</div>