.rag-container button {
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rag-container button > span {
    margin-right: 0.25rem;
}

.rag-container .chat-heading, .rag-container label span {
    color: #464646;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.rag-container label input {
    margin-bottom: 1rem;
}

.rag-container label span {
    margin-right: 0.25rem;
    font-size: 1rem;
    width: 20%;
}

.rag-container input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 80%;
}

.rag-container .spinner {
    width: 1rem;
    height: 1rem;
}

#chat-list {
    margin-bottom: 1rem;
}

#chat-list > .header {
    font-size: 1.25rem;
    font-style: italic;
    text-decoration: underline;
}

#chat-list > .response {
    font-size: 1rem;
}

#chat-list > .header, #chat-list > .response {
    display: flex;
    color: #464646;
}

#chat-list > .header > span, #chat-list > .response > span {
    border: 1px solid #464646;
    padding: 0.25rem;
}

#chat-list > .header > span:nth-of-type(1),
#chat-list > .response > span:nth-of-type(1) {
    width: 20%;
}
#chat-list > .header > span:nth-of-type(2),
#chat-list > .response > span:nth-of-type(2) {
    width: 80%;
}